SUPABASE_ID="SUPABASE_ID"
SUPABASE_API_KEY="SUPABASE_API_KEY"

NAMESPACE="UUID"

TMDB_KEY="TMDB_KEY"

TRAKT_ID="TRAKT_ID"

GROWTH_KEY="GROWTH_KEY"
GROWTH_DEV_MODE=false
GROWTH_TIME_OUT=1000

FEED="FEED"
YUNA="YUNA"
THEMES="THEMES"
MAL="MAL"
ANILIST="ANILIST"
NOTIFY="NOTIFY"
GROWTH="GROWTH"
SKYHOOK="SKYHOOK"
THEXEM="THEXEM"
TMDB="TMDB"
TRAKT="TRAKT"

MIN_LOG_LEVEL=DEBUG
OPTIC_TRACING=true

SPOTIFY="https://api.spotify.com/v1"
SPOTIFY_ID="SPOTIFY_ID"
SPOTIFY_SECRET="SPOTIFY_SECRET"

PORT=9800

OTEL_DENO=true
OTEL_DENO_SERVICE_NAME="on-the-edge"
OTEL_EXPORTER_OTLP_ENDPOINT="http://otel-collector:4318"
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="http://otel-collector:4318/v1/metrics"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://otel-collector:4318/v1/traces"
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://otel-collector:4318/v1/logs"

DENO_ENV=development

MONGO_URL=mongodb://localhost:27017/on-the-edge

SEGMENT_KEY=SEGMENT_KEY

CLIENT_REQUEST_TIMEOUT=2000

REDIS_URL=redis://localhost:6379

CI=true